<!DOCTYPE html>
<html lang="en" ng-app="superheroApp">
<head>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="heroCtrl as vm">
  <input type="text" placeholder="Search..." ng-model="searchBox">
  <div ng-repeat="superhero in vm.superheroes | filter:searchBox">
    <p ng-class="superhero.classification"> {{ superhero.name }}
      <button ng-click="showImg = !showImg"></button>
    </p>
    <img ng-src="{{superhero.img_url}}" ng-show="showImg">
  </div>
  <div>
    Name:<input type="text" placeholder="Name" ng-model="vm.newSuperhero.name">
    Hero/Sidekick:<input type="text" placeholder="Classification" ng-model="vm.newSuperhero.classification">
    Image:<input type="text" placeholder="Photo URL" ng-model="vm.newSuperhero.img_url">
    <button ng-click="vm.addSuperhero()">Add Superhero</button>
  </div>
    <img ng-src="{{ superhero.img_url }}">
  </div>
</body>
</html>
